:root {
    --brand-orange: #f17036;
    --brand-purple: #781c5c;
    --brand-charcoal: #36454f;
    --brand-black: #333333;
    --brand-grey: #707070;

    --lato: "Lato", sans-serif;

    --small: 0.5rem;
    --medium: 1rem;
    --large: 2.5rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: var(--lato);
    font-size: 1.6rem;
    background-color: var(--brand-grey);
}

a {
    font-family: var(--lato);
    color: var(--brand-orange);
    text-decoration: none;
}

a:hover {
    color: var(--brand-purple);
    text-decoration: underline;
}

a:active,
a:focus {
    color: var(--brand-purple);
}

.weather-img {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 768px) {
    .weather-img {
        height: calc(100vh - 4em);
        padding: 2em;
    }
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: calc(100% - 2em);
        height: 100%;
        margin: 0 auto;
        border: 1px solid white;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

@media only screen and (min-width: 768px) {
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2em;
    }
}

.header__title {
    font-weight: 100;
    font-size: 2rem;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .header__title {
        font-size: 3.6rem;
    }
}

.header__title-divider {
    display: inline-block;
    height: 30px;
    width: 1px;
    background-color: white;
    margin: 0 var(--medium);
}

.header__sub-title {
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .header__sub-title {
        font-size: 3.6rem;
    }
}

.header__sub-title span {
    color: var(--brand-orange);
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2#weather {
    font-size: 3.8rem;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0.5em;
}

@media only screen and (min-width: 768px) {
    h2#weather {
        font-size: 5.6rem;
    }
}

p#description {
    width: 80%;
    text-align: center;
    margin-top: 0;
}

img#weather-icon {
    filter: drop-shadow(3px 6px 3px rgba(0, 0, 0, 0.6));
}

h3#name {
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
}

p#status {
    width: 80%;
    text-align: center;
    margin: 1em auto;
    border: 1px solid white;
    padding: 1em;
    box-sizing: border-box;
}

footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

@media only screen and (min-width: 768px) {
    footer {
        padding: 2em;
    }
}

footer label {
    width: 100%;
    font-weight: 100;
}

footer input {
    width: 60%;
    background-color: transparent;
    margin: 1em 0;
    padding: 1em;
    color: white;
    border: 3px solid white;
    border-right: none;
    font-size: 1.8rem;
    box-sizing: border-box;
}

footer input {
    border-radius: 0;
}

footer input[type="text"] {
    -webkit-appearance: none;
}

footer input:focus {
    border-color: var(--brand-orange);
    outline: none;
}

footer .location__search,
footer .location__arrow {
    width: 20%;
    background-color: transparent;
    color: white;
    font-size: 1.8rem;
    padding: 0;
    border: 3px solid white;
    margin: 1em 0;
}

footer .location__search {
    border-right: none;
}

footer .location__search i {
    font-size: 2.4rem;
    color: white;
}

footer .location__arrow i {
    font-size: 1.8rem;
    color: white;
}

footer .location__search:hover,
footer .location__arrow:hover,
footer .location__search:focus,
footer .location__arrow:focus {
    color: var(--brand-black);
    background-color: white;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
}

footer p a {
    text-decoration: underline;
}

.hide {
    display: none;
}

.highlight {
    border-color: var(--brand-orange);
}
